<title>A simple dashboard</title>
<h1>Total number of the collected repositories</h1>
<p>{{totalRepos[0]}}</p>
<p>{{totalRepos[1]}}</p>
<p>{{totalRepos[2]}}</p>
<h1>
  Number of the collected repositories with changes pushed during the last 60
  seconds
</h1>
<img src="{{url}}" alt="LineChart" height="auto" width="50%" />
<h1>Average number of stars</h1>
<img src="{{url2}}" alt="BarChart" height="auto" width="50%" />
<h1>Top-10 most frequent words</h1>
<h1>Python</h1>
<p>{{python_wordFreq[0]}}</p>
<p>{{python_wordFreq[1]}}</p>
<p>{{python_wordFreq[2]}}</p>
<p>{{python_wordFreq[3]}}</p>
<p>{{python_wordFreq[4]}}</p>
<p>{{python_wordFreq[5]}}</p>
<p>{{python_wordFreq[6]}}</p>
<p>{{python_wordFreq[7]}}</p>
<p>{{python_wordFreq[8]}}</p>
<p>{{python_wordFreq[9]}}</p>
<h1>Csharp</h1>
<p>{{csharp_wordFreq[0]}}</p>
<p>{{csharp_wordFreq[1]}}</p>
<p>{{csharp_wordFreq[2]}}</p>
<p>{{csharp_wordFreq[3]}}</p>
<p>{{csharp_wordFreq[4]}}</p>
<p>{{csharp_wordFreq[5]}}</p>
<p>{{csharp_wordFreq[6]}}</p>
<p>{{csharp_wordFreq[7]}}</p>
<p>{{csharp_wordFreq[8]}}</p>
<p>{{csharp_wordFreq[9]}}</p>
<h1>Java</h1>
<p>{{java_wordFreq[0]}}</p>
<p>{{java_wordFreq[1]}}</p>
<p>{{java_wordFreq[2]}}</p>
<p>{{java_wordFreq[3]}}</p>
<p>{{java_wordFreq[4]}}</p>
<p>{{java_wordFreq[5]}}</p>
<p>{{java_wordFreq[6]}}</p>
<p>{{java_wordFreq[7]}}</p>
<p>{{java_wordFreq[8]}}</p>
<p>{{java_wordFreq[9]}}</p>
